venv/
*~
*.py~
*.un~
*.pyc
__pycache__/

instance/
config.py
.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

frontend/Scalez/Pods/Pods.xcodeproj/xcuserdata/Gurion.xcuserdatad/xcschemes/xcschememanagement.plist
frontend/Scalez/Scalez.xcodeproj/xcuserdata/Gurion.xcuserdatad/xcschemes/xcschememanagement.plist
frontend/Scalez/Scalez.xcworkspace/xcuserdata/Gurion.xcuserdatad/UserInterfaceState.xcuserstate
