<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475471035874-in327ob2s31cp267bqks9iv8fu5ottag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475471035874-in327ob2s31cp267bqks9iv8fu5ottag</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyEajKdcTja1B3A0jSNm9y-DOGkU0UVU</string>
	<key>GCM_SENDER_ID</key>
	<string>475471035874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group21.Scalez</string>
	<key>PROJECT_ID</key>
	<string>scalez-oose</string>
	<key>STORAGE_BUCKET</key>
	<string>scalez-oose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475471035874:ios:0a3976056337ce50</string>
	<key>DATABASE_URL</key>
	<string>https://scalez-oose.firebaseio.com</string>
</dict>
</plist>